body {
    background-color: black;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selectEnable {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-o-user-select: text;
user-select: text;
}

/* animations */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* animations */

/* fonts */
@font-face {
    font-family: main;
    src: url(/font/main.otf);
}
@font-face {
    font-family: texts;
    src: url(/font/text.ttf);
}
/* fonts */

/* ignore */

/* loading */
.loading {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#logo {
    filter: invert();
    width: 15vmin;
	position: absolute !important;
	top: 50%;
	left: 50%;
	margin-top: -12vmin;
	margin-left: -9vmin;
}
/* loading */

/* main page */

.banner {
    display: inline-flex;
    font-family: texts;
    font-size: 3.5vmin;
    color: white
}
.space {
    margin-left: 3vmin;
    margin-top: 3.5vmin;
}
.logo {
    margin-top: 1vmin;
    margin-left: 1vmin;
    width: 15vmin;
    filter: invert();
}
.end {
    position: absolute;
    right: 0;
    margin-right: 3vmin;
    margin-top: 0.5vmin;
}
.overlapText {
    font-family: texts;
    font-size: 7.5vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5vmin;
    margin-left: -8vmin;
}
/* bg text */
    .bgText {
        font-size: 37vmin;
        font-family: main;
        color: red;
    }
    br.bg {
           display: block;
           margin: -8vmin 0;
    }
/* main */

/* people viewer */
.people-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    color: white;
    margin-top: -27vmin;
    display: inline-flex;
    font-family: texts;
}
.codz {
    margin-left: 15vmin;
    margin-right: 5vmin;
	z-index: -99vmin;
}
.lulu {
    margin-left: 15vmin;
    margin-right: 5vmin;
	z-index: -99vmin;
}
#lulu {
    width: 19.9vmin;
}
#codz {
    width: 20vmin;
}
.ig{
    position: absolute;
    margin-left: -19.9vmin;
    margin-top: 37.2vmin;
	width: 2.5vmin;
	height: 2.5vmin;
	background-color: red;
	padding-left: 16.4vmin;
	opacity: 0.7;
	padding-top: 1vmin;
	padding-bottom: 1vmin;
	padding-right: 1vmin;
}
/* people viewer */

/* footer */
		footer {
			border-radius: 10vmin 10vmin 0vmin 0vmin;
			margin: 0;
			width: 100%;
			background-color: red;
			color: white;
		}
		.logoFoot {
			margin-top: -2vmin;
			margin-left: 1vmin;
			width: 15vmin;
            filter: invert();
		}
		.foot-text {
			font-size: 4vmin;
			display: flex;
			font-family: texts;
			justify-content: center;
			align-items: center;
			margin-left: -10vmin;
			padding-bottom: 5vmin;
		}
		.touch {
			margin-left: 10vmin;
			margin-right: 10vmin;
		}
		.connect {
			margin-top: 6.5vmin;
		}
		h6 {
			margin: 0;
			padding: 0;
		}
		#touch-text {
			opacity: 0.7;
		}
		#connect-text {
			opacity: 0.7;
		}
		.bottom-text {
			font-size: 2vmin;
			font-family: texts;
			opacity: 0.7;
			position: absolute;
			left: 50%;
			margin-left: -39.5vmin;
			margin-top: -10vmin;
		}
/* footer */