body {
	margin: 0;
   	background-color: #a597e3;
	overflow: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}
.selectDisable {
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-o-user-select: none;
   	 user-select: none;
}
.selectEnable {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}
/* animations */
	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
/* animations */
/* fonts */
	@font-face {
		font-family: main;
		src: url(../font/main.otf);
	}
	@font-face {
		font-family: texts;
		src: url(../font/text.ttf);
	}
/* fonts */

/* loading */
	.loading {
		height: 100%;
		width: 100%;
		background-color: #a597e3;
		position: absolute;
		z-index: 99999;
	}
	#four {
		width: 15vmin;
		position: absolute !important;
		top: 50%;
		left: 50%;
		margin-top: -12vmin;
		margin-left: -9vmin;
	}
/* loading */

/* main */
	.banner {
		display: inline-flex;
		font-family: texts;
		font-size: 3.5vmin;
	}
	.space {
		margin-left: 3vmin;
		margin-top: 3.5vmin;
	}
	.logo {
		margin-top: 1vmin;
		margin-left: 1vmin;
		width: 15vmin;
	}
	.end {
		position: absolute;
		right: 0;
		margin-right: 3vmin;
		margin-top: 0.5vmin;
	}
	.overlapText {
		font-family: texts;
		font-size: 7.5vmin;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5vmin;
		margin-left: -8vmin;
	}
	/* bg text */
		.bgText {
			font-size: 37vmin;
			font-family: main;
			color: whitesmoke;
		}
		br.bg {
   			display: block;
   			margin: -8vmin 0;
		}
	/* bg text */
/* main */

/* desc */
	.description {
		width: 100%;
		font-size: 5vmin;
		font-family: texts;
		text-align: center;
		padding-top: 30vmin;
		padding-bottom: 10vmin;
		font-weight: bolder;
	}
	.large-desc-text {
		display: inline-block;
		text-align: left;
	}
	.work-text {
		text-align: left;
		margin-left: 16vmin;
	}

	.work-images {
		position: relative;
		left: 50%;
		margin-left: -40vmin;
		margin-top: 5vmin;
	}

	.work-iconOne {
		width: 20vmin;
		margin-right: 30vmin;
		opacity: 1;
		transition: 0.2s;
		transition-property: opacity;
		filter: invert();
	}
	.work-iconTwo {
		width: 10vmin;
		opacity: 1;
		transition: 0.2s;
		transition-property: opacity;
		filter: invert();
	}

	.work-iconOne:hover {
		transition: 0.2s;
		transition-property: opacity;
		opacity: 0.5;
	}
	.work-iconTwo:hover {
		transition: 0.2s;
		transition-property: opacity;
		opacity: 0.5;
	}
/* desc */

/* footer */
		footer {
			border-radius: 10vmin 10vmin 0vmin 0vmin;
			margin: 0;
			width: 100%;
			background-color: white;
			color: black;
		}
		.logoFoot {
			margin-top: -2vmin;
			margin-left: 1vmin;
			width: 15vmin;
		}
		.foot-text {
			font-size: 4vmin;
			display: flex;
			font-family: texts;
			justify-content: center;
			align-items: center;
			margin-left: -10vmin;
			padding-bottom: 5vmin;
		}
		.touch {
			margin-left: 10vmin;
			margin-right: 10vmin;
		}
		.connect {
			margin-top: 6.5vmin;
		}
		h6 {
			margin: 0;
			padding: 0;
		}
		#touch-text {
			opacity: 0.7;
		}
		#connect-text {
			opacity: 0.7;
		}
		.bottom-text {
			font-size: 2vmin;
			font-family: texts;
			opacity: 0.7;
			position: absolute;
			left: 50%;
			margin-left: -39.5vmin;
			margin-top: -10vmin;
		}
/* footer */