body {
	margin: 0;
   	background-color: white;
}
a {
	color: inherit;
	text-decoration: none;
}
.selectDisable {
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-o-user-select: none;
   	 user-select: none;
}
/* animations */
	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
/* animations */
/* fonts */
	@font-face {
		font-family: main;
		src: url(../font/main.otf);
	}
	@font-face {
		font-family: texts;
		src: url(../font/text.otf);
	}
/* fonts */

/* main */
	.banner {
		display: inline-flex;
		font-family: texts;
		font-size: 3vmin;
	}
	.space {
		margin-left: 3vmin;
		margin-top: 3.5vmin;
	}
	.logo {
		width: 20vmin;
	}
	.end {
		position: absolute;
		right: 0;
		margin-right: 3vmin;
		margin-top: 0.5vmin;
	}
	.overlapText {
		font-family: texts;
		font-size: 7.5vmin;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -5vmin;
		margin-left: -8vmin;
	}
	/* bg text */
		.bgText {
			font-size: 37vmin;
			font-family: main;
			color: #df00ba;
		}
		br.bg {
   			display: block;
   			margin: -8vmin 0;
		}
	/* bg text */
/* main */
/* description */
		.mainDesc {
			font-family: monospace;
			font-size: 2vmin;
		}
		.clientTitle {
			font-family: main;
			font-size: 5vmin;
			font-weight: light;
		}
		.sitesList {
			position: relative;
			display: inline-flex;
			left: 50%;
			margin-left: -25vmin;
		}
		.jay {
			height: 15vmin;
		}
		.bright {
			height: 15vmin;
		}
/* description */
/* footer */
		footer {
			padding: 0;
			margin: 0;
			margin-top: 5vmin;
			height: 40vmin;
			width: 100%;
			background-color: black;
			color: white;
		}
/* footer */
